@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 10px;
    background: url('/background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

::selection {
    color: black;
    background: white;
}

.wrapper {
    width: 370px;
    padding: 20px 30px 15px 30px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
    color: white;
}

.wrapper header {
    font-size: 29px;
    font-weight: 600;
    text-align: center;
}

.wrapper form {
    margin: 40px 0 20px 0;
}

form :where(input) {
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, .2);
    background: none;
    color: white;
}

.buttons {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 0px;
}

form p {
    font-size: 18px;
    margin-bottom: 5px;
}

form input:focus {
    padding: 0 14px;
    border: 2px solid #fbfbff;
}

form input {
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
}

form .drop-list {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.drop-list .select-box {
    display: flex;
    width: 115px;
    height: 45px;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, .2);
    background: white;
    color: black;
    cursor: pointer;
}

.select-box img {
    max-width: 21px;
}

.select-box select {
    width: auto;
    font-size: 16px;
    background: none;
    margin: 0 -5px 0 5px;
    color: black;
    border: none;
    cursor: pointer;
}

.select-box select::-webkit-scrollbar {
    width: 8px;
}

.select-box select::-webkit-scrollbar-track {
    background: white;
}

.select-box select::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50%;
    border-right: 2px solid white;
}

.drop-list .icon {
    cursor: pointer;
    margin-top: 25px;
    font-size: 24px;
    color: white;
    transition: all 0.2s ease; 
    padding: 5px 10px;
    border-radius: 50%;
}

.drop-list .icon:hover {
    background-color: rgb(217, 173, 238);
}

.drop-list .icon:active {
    transform: scale(0.9);  
    background-color: #ffffff; 
    color: rgb(217, 173, 238); 
}

.select-box:active {
    transform: scale(0.99);
    background-color: rgb(213, 213, 213);
}

.select-box:hover {
    background-color: rgb(213, 213, 213);
}

form .exchange-rate {
    font-size: 17px;
    margin: 20px 0 25px;
}

.buttons button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

.buttons button:active {
    transform: scale(0.99);
    background-color: rgb(213, 213, 213);
}

.buttons button:hover {
    background-color: rgb(213, 213, 213);
}

.buttons .operator {
    color:#000000;
    background-color:rgb(245, 224, 255);
    font-weight: 700;
}

.exchange-rate button {
    height: 50px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, .2);
    background: white;
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

.exchange-rate button:active {
    transform: scale(0.99);
    background-color: rgb(213, 213, 213);
}

.exchange-rate button:hover {
    background-color: rgb(213, 213, 213);
}

